In [15]:
tu = (23, 'abc', 4.56, (2,3), 'def')
      
tu[1] # Second item in the tuple.

'abc'

In [11]:
li = ["abc", 34, 4.34, 23]

li[1] # Second item in the list.
34

34

In [12]:
st = "Hello World"
st[1] # Second character in string.

'e'

In [19]:
t = (23, 'abc', 4.56, (2,3), 'def')

t[1:4]

t[1:-1]

t[1:-1:2]

('abc', (2, 3))

In [22]:
t = [1, 2, 4, 5]

3 in t

4 in t

4 not in t


a = 'abcde'
'c' in a

'cd' in a

'ac' in a

False

In [23]:
(1, 2, 3) + (4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [24]:
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [26]:
"Hello" + " " + "World"

'Hello World'